#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
	scriptLoader:
		enable: true
		css:
			default:
			critical:

		js:

		css_mobile:
			critical:
			default:
		js_mobile:

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

database:
	dsn: 'mysql:host=127.0.0.1;dbname=cms'
	user: cms
	password: 'ZvFPYuveYY4quueY'
	options:
		lazy: yes
mail:
	smtp: false
	host: 'smtp.cesky-hosting.cz'
	username: 'stodulka@webnolimit.cz'
	password: 'ghjR35hkHj'
	secure: 'ssl'

services:
	routerFactory: App\RouterFactory
	router: @routerFactory::createRouter()

	- App\AdminModule\Components\Authenticator
	authorizator: App\AdminModule\Components\Authorizator

	- App\ScriptLoader\IScriptLoaderFactory

	mailer: App\Email\Mailer

	languages: App\Model\Module\Language
	pages: App\Model\Module\Page
	privileges: App\Model\Privilege
	emailsLog: App\Model\EmailLog
	emails: App\Model\Email
	users: App\Model\User
	permissions: App\Model\Permission
	resources: App\Model\Resource
	roles: App\Model\Role
	settings: App\Model\Setting

extensions:
	translation: Kdyby\Translation\DI\TranslationExtension

latte:
	macros:
		- App\MacroSet::install
tracy:
    email: vsek@seznam.cz