#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
	scriptLoader:
		enable: true
		css:
			default:
			critical:

		js:

		css_mobile:
			critical:
			default:
		js_mobile:
	ftp:
		server: 'SERVER'
		user: 'USER'
		password: 'PASSWORD'

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days

database:
	dsn: 'mysql:host=127.0.0.1;dbname=cms'
	user: cms
	password: 'ZvFPYuveYY4quueY'
	options:
		lazy: yes
mail:
	smtp: false
	host: 'smtp.cesky-hosting.cz'
	username: 'stodulka@webnolimit.cz'
	password: 'ghjR35hkHj'
	secure: 'ssl'

services:
	routerFactory: App\RouterFactory
	router: @routerFactory::createRouter()

	- App\AdminModule\Components\Authenticator
	authorizator: App\AdminModule\Components\Authorizator

	- App\ScriptLoader\IScriptLoaderFactory

	mailer: App\Email\Mailer

	translatesLocale: App\Model\Module\TranslateLocale
	translates: App\Model\Module\Translate
	languages: App\Model\Module\Language
	pages: App\Model\Module\Page
	privileges: App\Model\Privilege
	emailsLog: App\Model\EmailLog
	emails: App\Model\Email
	users: App\Model\User
	permissions: App\Model\Permission
	resources: App\Model\Resource
	roles: App\Model\Role
	settings: App\Model\Setting

	- App\Console\generateTranslationCommnad
	- Symfony\Component\Translation\Formatter\MessageFormatter

extensions:
	translation: App\Translate\DI\TranslationExtension
	console: Kdyby\Console\DI\ConsoleExtension
	migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension
	deployer: App\Component\Deploy\DeployerExtension

latte:
	macros:
		- App\MacroSet::install
tracy:
    email: vsek@seznam.cz

console:
	url: http://freewebsite:5050/

translation:
	fallback: [cs]

decorator:
	Symfony\Component\Console\Command\Command:
		tags: [kdyby.console.command]

migrations:
    dir: %appDir%/../migrations # migrations base directory
    driver: mysql               # pgsql or mysql
    dbal: nette               # nextras, nette, doctrine or dibi

deployer:
	config:
		mode: run
		logFile: %appDir%/log/deployer.log
		tempDir: %appDir%/temp
		colors: off

		# User specific variables
	userdata:

		# Plugins specification (see more in PLUGINS.md)
	plugins:
		maintenance:
			rewrite:
				- [index.php, index.maintenance]

		# Web sections
	sections:
		web:
			remote: %ftp%
			local: %wwwDir%
			testMode: false

			allowdelete: on
			passiveMode: on
			preprocess: off

			ignore:
				- .git*
				- .idea*
				- /css/css.css
				- /js/js.js
				- /data
				- /images/preview/*
				- /images/upload/*
				- /nbproject
				- /temp/*
				- /log/*
				- /composer.lock
				- /composer.json
				- /deploy.php
				- /.gitignore
				- /README.md

			before:

			after:

			purge:
				- temp/cache