login:
    noAccess: "Do této sekce nemáte přístup"
sign:
    passwordChanged: "Heslo bylo vytvořeno"
    badHash: "Chybný hash, opakujte akci"
    userNotFound: "Uživatel s tímto emailem v systému není"
    badLogin: "Špatné přihlašovací údaje"
    logout: "Odhlásit"
    enterRegisteredEmail: "Zadejte email, pod kterým jste registrován/a v systému. Budou Vám doručeny instrukce pro vygenerování hesla."
    waitForEmail: "Vyčkejte dokud Vám nedorazí email a postupujte podle instrukcí v něm uvedených."
    youSendRequestNewPassword: "Odeslali jste žádost o vygenerování nového hesla v administraci stránek %host%."
    linkForGeneration: "Pro vygenerování nového hesla klikněte na následující odkaz:"
    generatePassword: "Vytvoření hesla"
    newPassword: "Nové heslo."
    newPasswordCheck: "Nové heslo pro kontrolu."
form:
    password: "Heslo"
    isRequired: "Musí být vyplněno"
    passwordRepead: "Heslo pro kontrolu"
    passwordMustBeSame: "Obě hesla se musí shodovat"
    createPassword: "Vytvořit heslo"
    email: "Email"
    mustBeValidEmail: "Musí být platný email"
    sendPassword: "Zaslat heslo"
    logIn: "Přihlásit se"
    newPasswordIsRequired: "Nové heslo musí být vyplněno"
    newPasswordRepeat: "Nové heslo (kontrola)"
    newPasswordRepeatIsRequired: "Kontolní heslo musí být vyplněno"
    bothPasswordMustBeSame: "Obě hesla se musí shodovat"
    change: "Změnit"
    editSuccess: "Úspěšně upraveno"
    name: "Název"
    systemName: "Systémový název"
    systemNameExist: "Tento systémový název už existuje"
    edit: "Upravit"
    insert: "Vložit"
    set: "Nastavit"
    create: "Vytvořit"
    filtrate: "Filtrovat"
    text: "Text"
    modifier: "Modifikátory"
email:
    forgotPassword: "Zapomenuté heslo"
    moreInfoInEmail: "Na zadaný email byly odeslány další informace."
    notSend: "Email se nepodařilo odeslat"
    emails: "Emaily"
    editEmail: "Editace emailu"
    sendEmails: "Odeslané emaily"
    newEmail: "Nový email"
    subject: "Předmět"
    preview: "Náhled"
    notExist: "Takový email neexistuje"
    address: "Příjemce"
    detail: "Zobrazit email"
user:
    changePassword: "Změnit heslo"
    users: "Uživatelé" 
    passwordChanged: "Heslo změněno"
    passwordChange: "Změna hesla"
    newUser: "Nový uživatel"
    editUser: "Editace uživatele"
    name: "Jméno"
    surname: "Příjmení"
    role: "Role"
setting:
    settings: "Nastavení"
    webName: "Název webu"
    mainEmail: "Hlavní email (je použit jako odesílatel)"
    googleAnalytics: "Google Analytics"
    linkFacebook: "Odkaz Facebook"
    linkTwitter: "Odkaz Twitter"
role:
    roles: "Role"
    newRole: "Nová role"
    editRole: "Editace role"
    settingPermission: "Nastavení práv"
    role: "Role %name%"
    privilegeSet: "Práva nastavena"
    resourceNotFound: "Takový zdroj nebyl nalezen"
    roleNotFound: "Taková role neexistuje"
    setPermission: "Nastavit práva"
resource:
    resources: "Zdroje"
    newResource: "Nový zdroj"
    editResource: "Editace zdroje"
    setPrivileges: "Přiřazené privilegia"
    resource: "Zdroj %name%"
privilege:
    privileges: "Privilegia"
    newPrivilege: "Nové privilegium"
    editPrivilege: "Editace privilegia"
    thisPrivilegeNotExist: "Takové privilegium neexistuje"
    privilegeDelete: "Privilegium smazáno"
    privilegeInserted: "Privilegium vloženo"
text:
    copyright: "Copyright by WebNoLimit.cz. All rights reserved."
    developed: "Developed by <a href='http://www.webnolimit.cz'>WebNoLimit</a>, verze 2.0"
    technicSupport: "Technická podpora"
    phone: "(+420) 732 949 030"
    email: "stodulka@webnolimit.cz"
    summary: "Přehled" 
    itemNotExist: "Taková položka nebyla nalezena"
    itemDeleted: "Položka byla smazána"
    inserted: "Úspěšně vytvořeno"
    date: "Datum"
    error: "Chyba"
homepage:
    wellcome: "Vítejte v administraci"
grid:
    id: "ID"
    delete: "Smazat"
    changeOrder: "Změnit pořadí"
    noItemFound: "Nebyla nalezena žádná položka"
    confirmDelete: "Potvrzení smazání"
    realyDeleteItem: "Opravdu chcete trvale smazat tuto položku?"
    realyDelete: "Opravdu smazat"
    cancel: "Zrušit"
    paggindDisableForTree: "Pro stromový výpis je stránkování vypnuto"
    changeOrdering: "Změnit pořadí"