page: "Stránky"
summary: "Přehled"
newPage: "Nová stránka"
editPage: "Editace stránky"
link: "Odkaz"
inMenu: "V menu"
noParent: "-- žádná --"
noModule: "-- žádný --"
homepage: "Homepage"
showInMenu: "Zobrazovat v menu"
externalLink: "Externí odkaz"
parentPage: "Nadřazená stránka"
module: "Modul"
h1: "H1"
title: "Titulek"
keywords: "Klíčová slova"
description: "Description"
orderChanged: "Pořadí změněno"