<html>
    <body>
        <h2>{_'admin.email.forgotPassword'}</h2>
        <p>{_'admin.sign.youSendRequestNewPassword', ['host' => $host]}</p>
        <p>{_'admin.sign.linkForGeneration'}</p>
        <a href='{$link}'>{$link}</a>
    </body>
</html>