{* Latte template *}

{block content}
    <div class="login">
        <h2>{_'admin.email.forgotPassword'}</h2>
        <br />
        <p>{_'admin.sign.enterRegisteredEmail'}</p>
        {$formForgotPassword->render('begin')}
            {$formForgotPassword->render('errors')}
            {$formForgotPassword['email']->control}
            {$formForgotPassword['send']->control}
        {$formForgotPassword->render('end')}
    </div>