<ul class="submenu">
    <li><a n:href="default">{_'admin.text.summary'}</a></li>
    <li><a n:href="log">{_'admin.email.sendEmails'}</a></li>
    <li><a n:href="new">{_'admin.email.newEmail'}</a></li>
</ul>
<div class="clearfix"></div>