{* Latte template *}

{block content}
    <h2>{_'admin.role.settingPermission'}</h2>
    
    {include menu.latte}
    
    <h3>{_'admin.role.role', ['name' => $role['name']]}</h3>
    
    {control gridResource}